<template>
		 <textarea v-model="internalValue" @keydown="onKeyDown" id="announcement"  class="form-control" name="announcement"  rows="5" required placeholder="Announcement"></textarea>
		
</template>
<script>
	export default {
    props:{
        value:{ type: String, default: ""},
        max:{type: Number, default: 250}
    },
    computed:{
        internalValue: {
            get() {return this.value},
            set(v){ this.$emit("input", v)}
        }
    },
    methods:{
        onKeyDown(evt){
            if (this.value.length >= this.max) {
                evt.preventDefault();
                console.log('keydown');
                return
            }
        }
    }

}

</script>